/* Importando fuetes desde https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');  /* font name: Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap'); /* font name: Philosopher */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka One', cursive;
}

body {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #333;
  transition: color .2s ease;
}

a:hover {
  color: #5EC7D3;
}

/*ESTILOS PARA LOS BOTONES*/
.global_button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
 
.global_button:hover,
.global_button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
 
.global_button:hover {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
}
 
.global_button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}