/* Importando fuetes desde https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');  /* font name: Fredoka One*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap'); /* font name: Philosopher */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka One', cursive;
}

body {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
